* {
  margin: 0;
  padding: 0;
}
body {
  background-color: brown;
  padding: 90px;
}

.form-container {
  width: 250px;
  height: auto;
  padding: 20px 30px;
  background-color: olivedrab;
  border-radius: 0px;
  box-shadow: 0 0 10px 0 black;
  margin: auto;
}

.user-img {
  background: url("UserIcon.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 80px;
  background-size: 100%;
}
ul.list {
  list-style-type: none;
  text-align: center;
}

ul.list li input {
  width: 250px;
  text-align: center;
  padding: 15px 0px;
  border: none;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border-radius: 10px;
}
ul.list li input[type="button"] {
  background-color: tomato;
  color: wheat;
  padding: 10px;
}

ul li:nth-child(1) {
  margin-bottom: 10px;
}
